header {
	background-color: #ececec;
}
main {
	/*background-color: #9AB849;*/
}
nav, .green, .strike-box:nth-child(even) {
	background-color: #a7c712;
}
.strike-box:nth-child(odd) {
    background-color: #849824;
}
.box, .separator-div {
    transition: transform 0.2s linear;
}
.box:hover, .separator-div:hover {
    transform: translateY(-3px);
    transition: transform 0.2s linear;
}
.box:hover, #dropdown-menu select:hover, #dropdown-menu input:hover, #guarenteed-routes-div a:hover {
    box-shadow: 0px 0px 2px 1px #888888;
}
h1, h2, h3, h4, h5, main a {
	color: #849824;
}
.red {
    background-color: #71112e;
}
.orange {
    background-color: orange;
}
/*.company-logo-div {
    background-color: #849824;
}*/