/*body main {
	width: 80%;
	max-width: calc(100% - 16rem);
}*/
/*body nav {
	min-width: 16rem;
	width: 20%;
	height: 98%;
	top: 3.5rem;
	
	
	z-index: 1 !important;
	opacity: 1 !important;

}*/
/*div.box {
    width: 20rem !important;
    height: 20rem !important;
    display: inline-block !important;
}*/
.box-container {
    text-align: center;
}
div.box {
    width: 20rem !important;
    height: 20rem !important;
    max-width: 20rem !important;
    max-height: 20rem !important;
    margin: 1rem !important;
}
.separator-div {
    width: 20rem !important;
    height: 0.6rem;
    margin-top: -1.6rem !important;
    margin-left: 1rem !important;
}
.box-container a {
    display: inline-block;
}
#language-popup {
    margin-left: -15% !important;
    height: 6rem !important;
    width: 30% !important;
}

.company-logo-div {
    width: 25% !important;
    margin-top: 1rem;
    min-height: 5rem;
    /*height: 5%;*/
    padding-top: 2%;
    padding-bottom: 2%;
}
.company-logo-div img {
    width: 100%;
}
#content-div {
    display: inline;
    max-width: 33% !important;
    min-width: 33% !important;
    /*float: left;*/
    min-height: 3rem;
    padding-top: 1rem;
    padding-left: 0rem !important;
}
#content-div:first-child {
    margin-top: 0rem !important;
}
#content-div:last-child {
    padding-bottom: 1.5rem;
    padding-right: 5% !important;
    max-width: 90% !important;
    min-width: 90% !important;
}
.strike-box p {
    display: inline;
    font-size: 1.5rem;
    color: #333 !important;
}
/*#when-where-tag, #guarenteed-routes-div {
    font-family: 'Pompiere', cursive;
    font-size: 1.9rem;
    font-weight: bold;
}*/
.first-separator-div {
    display: none !important;
    width: 100%;
    height: 0.3rem;
    background-color: rgba(0,0,0,0.15);
    margin-top: -0.3rem;
}
.second-separator-div {
    display: none !important;
    width: 100%;
    height: 0.6rem;
    background-color: rgba(0,0,0,0.35);
    margin-top: -0.6rem;
}
#guarenteed-routes-div {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}
#guarenteed-routes-div a {
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #71112e;
    color: #fff;
    padding: 0.5rem;
    font-size: 1.5rem;
}