/*body main {
	width: 80%;
	max-width: calc(100% - 16rem);
}*/
/*body nav {
	min-width: 16rem;
	width: 20%;
	height: 98%;
	top: 3.5rem;
	
	
	z-index: 1 !important;
	opacity: 1 !important;

}*/
/*div.box {
    width: 20rem !important;
    height: 20rem !important;
    display: inline-block !important;
}*/
.box-container {
    text-align: center;
}
div.box {
    width: 20rem !important;
    height: 20rem !important;
    max-width: 20rem !important;
    max-height: 20rem !important;
    margin: 1rem !important;
}
.separator-div {
    width: 20rem !important;
    height: 0.6rem;
    margin-top: -1.6rem !important;
    margin-left: 1rem !important;
}
.box-container a {
    display: inline-block;
}
#language-popup {
    margin-left: -15% !important;
    height: 6rem !important;
    width: 30% !important;
}
.strike-box {
    display: none;
}
.strike-box-desktop {
    display: block !important;
}
.company-logo-div {
    position: absolute;
    margin-top: 0.5rem !important;
    width: 3% !important;
    min-height: 1rem !important;
    max-height: 2.1rem !important;
    padding: 0.5% !important;
    left: 5rem;
}
.company-logo-div img {
    width: 100%;
}
#guarenteed-routes-div {
    /*display: flex;
    margin-top: 0.5rem;*/
    margin-bottom: 0.5rem !important;
}
#guarenteed-routes-div a {
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #71112e;
    color: #fff;
    padding: 0.5rem;
    font-size: 1.5rem;
}